body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.large-button {
    padding: 10px 20px;
    font-size: 50px;
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
}
