<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Index</title>
</head>
<body>
<nav>
        <ul>
            <li><a href="komentarze">Komentarze</a></li>
            <li><a href="posty">Posty</a></li>
            <li><a href="zdjecia">Zdjęcia</a></li>
            <li><a href="albumy">Albumy</a></li>
        </ul>
</nav>
    <div class="button-container">
         <a href="komentarze"><button class="large-button"> Komentarze</button></a>
         <a href="zdjecia"><button class="large-button">Zdjęcia</button></a>
    </div>
    <div class="button-container">
        <a href="albumy"><button class="large-button">Albumy</button></a>
         <a href="posty"><button class="large-button">Posty</button></a>
    </div>
</body>
</html>
